<section class="slider">
  <ng-container *ngFor="let item of items; let i = index">
    <div class="slide" *ngIf="i == currentSlideIndex" @slideFade>
      <div class="slide-bg">
        <img [src]="'https://image.tmdb.org/t/p/original' + item.backdrop_path" alt="" />
      </div>
      <div class="slide-pane">
        <h2 class="name">{{ item.title }}</h2>
        <div class="meta-data">
          <div class="info">
            <span *ngIf="item.vote_average" class="rating">
              <span class="app-icon">star</span>
              <span class="rating-value">{{ item.vote_average.toFixed(1) }}</span>
              <span>/10</span>
            </span>
            <span *ngIf="item.vote_count">{{ item.vote_count }} reviews</span>
            <span>{{ item.release_date | date: 'yyyy' }}</span>
          </div>
        </div>
        <div class="description mt-6">
          {{ item.overview }}
        </div>
      </div>
    </div>
  </ng-container>
</section>
